<div class="mainContainer">
  <div class="mainCard">
    <app-card
      [props]="{
          shadow: false,
          border: false
        }"
    >
      <app-card-content>
        <app-card
          [props]="{
                shadow: false,
                border: false
              }"
        >
          <app-card-header>
            <app-card-title>Log in to your Account </app-card-title>
          </app-card-header>
          <app-card-content>
            <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
              <ion-row class="justify-center">
                <button
                  type="button"
                  class="text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 me-2 mb-2"
                >
                  <svg
                    class="w-4 h-4 me-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 18 19"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  Google
                </button>
                <button
                  type="button"
                  class="text-white bg-[#3b5998] hover:bg-[#3b5998]/90 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 me-2 mb-2"
                >
                  <svg
                    class="w-4 h-4 me-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 8 19"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  Facebook
                </button>
              </ion-row>
              <!-- Social Auth -->
              <ion-row>
                <div class="inline-flex items-center justify-center w-full">
                  <hr
                    class="w-64 h-px my-8 bg-gray-200 border-0 dark:bg-gray-700"
                  />
                  <span
                    class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900"
                  >
                    or continue with email
                  </span>
                </div>
              </ion-row>
              <ion-row>
                <app-input
                  class="w-full"
                  [id]="'email'"
                  [type]="'email'"
                  [placeHolder]="'Email'"
                  [icon]="'../../../../assets/images/username-light-20.png'"
                  [label]="'Email'"
                  [formGroup]="loginFormGroup"
                  controlName="username"
                ></app-input>
              </ion-row>
              <!-- Email -->
              <ion-row>
                <app-input
                  class="w-full"
                  [id]="'password'"
                  [type]="'password'"
                  [placeHolder]="'*******'"
                  [icon]="'../../../../assets/images/password.png'"
                  [label]="'Password'"
                  [formGroup]="loginFormGroup"
                  controlName="password"
                ></app-input>
              </ion-row>
              <!-- Password -->
              <ion-row class="pt-4 pb-4">
                <!-- <ion-col>
                  <app-checkbox
                    [props]="{
                      label:'Remember me'
                      }"
                  ></app-checkbox>
                </ion-col> -->
                <ion-col class="text-right">
                  <app-link
                    [props]="{
                        label: 'Forgot Password',
                        }"
                  ></app-link>
                </ion-col>
              </ion-row>
              <!-- Remember me , Forget pass -->
              <ion-row class="justify-center">
                <app-button
                  type="submit"
                  buttonName="Log in"
                  class="w-full"
                ></app-button>
              </ion-row>
              <!-- Login Btn -->
              <ion-row class="justify-center m-9">
                <app-label
                  >Don't have an account?
                  <app-link
                    [props]="{
                    label: 'Create an account',
                    }"
                  ></app-link
                ></app-label>
              </ion-row>
              <!-- Create account -->
            </form>
          </app-card-content>
        </app-card>
      </app-card-content>
    </app-card>
    <div class="rightSide">
      <app-image
        [source]="'../../../../assets/images/LoginPicResizer.png'"
      ></app-image>
    </div>
  </div>
</div>
