<app-label class="block m-2">{{ label }}</app-label>

<select
  [ariaPlaceholder]="placeHolder"
  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
>
  <option value="TV">TV/Monitors</option>
  <option value="PC">PC</option>
  <option value="GA">Gaming/Console</option>
  <option value="PH">Phones</option>
</select>
