<ion-menu contentId="main" swipeGesture="false">
  <ion-content>
    <ion-list
      lines="none"
      class="h-full overflow-y-auto bg-gray-50 dark:bg-gray-800"
    >
      <ion-item
        [button]="true"
        [routerLink]="page.path"
        *ngFor="let page of sideMenu"
      >
        <app-icon [iconName]="page.icon" class="ion-padding-end"></app-icon>
        <app-label>{{ page.name }}</app-label>
      </ion-item>
    </ion-list>
    <ion-list
      class="absolute inset-x-0 bottom-0 bg-gray-50 dark:bg-gray-800"
      lines="none"
    >
      <ion-item lines="none">
        <app-theme-toggle class="w-full">Dark Mode</app-theme-toggle>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
