<app-card>
  <ion-card-header>
    <ion-card-title
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >Card Title
    </ion-card-title>
    <ion-card-subtitle
      class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white"
      >Card Subtitle
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="font-normal text-gray-700 dark:text-gray-400">
    Here's a small text description for the card content. Nothing more, nothing
    less.
  </ion-card-content>
</app-card>
