<!-- <ion-app>

  <app-side-menu></app-side-menu>

</ion-app> -->
<ion-app>
  <ion-split-pane when="md" contentId="main">
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"> Menu Content </ion-content>
    </ion-menu>

    <div class="ion-page" id="main">
      <ion-header collapse="fade">
        <ion-toolbar>
          <ion-title>
            <ion-menu-toggle>
              <ion-icon name="menu" id="main-content"></ion-icon>
            </ion-menu-toggle>
            Header
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"> Main View Content </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-title>Footer</ion-title>
        </ion-toolbar>
      </ion-footer>
    </div>
  </ion-split-pane>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
