<app-label class="block m-2">{{ label }}</app-label>

<div class="relative">
  <div
    class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none"
  >
    <app-image *ngIf="icon" [imageProp]="{ source: icon }"></app-image>
  </div>
  <form *ngIf="formGroup" [formGroup]="formGroup">
    <input
      [id]="id"
      [type]="type"
      [placeholder]="placeHolder"
      [required]="required"
      [disabled]="disabled"
      [formControlName]="controlName"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      (input)="onInputChange($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
    />
  </form>
</div>
<app-error-message
  *ngIf="formGroup?.get(controlName)"
  [control]="formGroup?.get(controlName)"
></app-error-message>
