<ion-content>
  <ion-row class="p-5">
    <app-text-header [headingSize]="4" text="Products"></app-text-header>
  </ion-row>

  <ion-row class="m-5">
    <app-card class="w-full" [border]="true" [shadow]="true">
      <app-card-content>
        <ion-row class="ion-justify-content-between">
          <ion-col size="12" size-sm="12" size-md="6" size-lg="7" size-xl="5">
            <app-searchbar
              placeholder="Search product"
              (searchResult)="searchResult($event)"
            ></app-searchbar>
          </ion-col>
          <ion-col size="12" size-sm="12" size-md="4" size-lg="3" size-xl="2">
            <app-button
              buttonName="New product"
              (clicked)="newProductButtonClick()"
            ></app-button>
          </ion-col>
        </ion-row>
        <br />
        <app-grid
          *ngIf="productGrid.products.length"
          [columns]="productGrid.columns"
          [data]="productGrid.products"
          [filterColumn]="productGrid.filterColumn"
          [filterText]="productGrid.filterText"
          [showEditBtn]="true"
          [showDeleteBtn]="true"
          (editRowData)="editProductButtonClick($event)"
          (deleteRowData)="deleteProduct($event)"
        ></app-grid>
      </app-card-content>
    </app-card>
  </ion-row>
</ion-content>

<app-modal *ngIf="productModal.visible">
  <app-modal-header>
    <app-text-header
      [headingSize]="5"
      [text]="productModal.edit ? 'Edit Product': 'Create New Product'"
    ></app-text-header>
    <app-font-awesome-icon
      [icon]="'faClose'"
      (click)="closeModal()"
      [clickable]="true"
    ></app-font-awesome-icon>
  </app-modal-header>
  <app-modal-body>
    <form class="p-4 md:p-5" [formGroup]="productForm">
      <ion-row>
        <app-input
          class="w-full"
          [type]="'text'"
          [placeHolder]="'type product name'"
          [label]="'Product Name'"
          [formGroup]="productForm"
          [controlName]="'name'"
        >
        </app-input>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input
            [type]="'number'"
            [label]="'Quantity'"
            [placeHolder]="'100'"
            [formGroup]="productForm"
            [controlName]="'quantity'"
          ></app-input>
        </ion-col>
        <ion-col>
          <app-input
            [type]="'number'"
            [label]="'Price'"
            [placeHolder]="'2999'"
            [formGroup]="productForm"
            [controlName]="'price'"
          ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-category-dropdown
            [formGroup]="productForm"
            [controlName]="'category'"
          ></app-category-dropdown>
        </ion-col>
      </ion-row>

      <ion-row class="pb-4">
        <app-text-area
          class="w-full"
          [label]="'Product Description'"
          [formGroup]="productForm"
          [controlName]="'description'"
        ></app-text-area>
      </ion-row>

      <app-button
        [type]="'submit'"
        [buttonName]="productModal.edit ? 'Edit Product':'Add New Product'"
        (clicked)="productModal.edit ? editProduct():addProduct()"
      ></app-button>
    </form>
  </app-modal-body>
</app-modal>
