<ion-content>
  <ion-row class="p-5">
    <app-text-header [headingSize]="4" text="Inventory"></app-text-header>
  </ion-row>

  <ion-row class="m-5">
    <app-card class="w-full" [border]="true" [shadow]="true">
      <app-card-content>
        <ion-row class="ion-justify-content-between">
          <ion-col size="12" size-sm="12" size-md="6" size-lg="7" size-xl="5">
            <app-searchbar
              [button]="true"
              placeholder="Search product"
              (searchResult)="searchResult($event)"
            ></app-searchbar>
          </ion-col>
          <ion-col size="12" size-sm="12" size-md="4" size-lg="3" size-xl="2">
            <app-button buttonName="New product"></app-button>
          </ion-col>
        </ion-row>
        <br />
        <app-grid
          *ngIf="productGrid.products.length"
          [columns]="productGrid.columns"
          [data]="productGrid.products"
        ></app-grid>
      </app-card-content>
    </app-card>
  </ion-row>
</ion-content>
