:root {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
  --ion-toolbar-background: #1c1c1c;
  --ion-toolbar-color: #fff;
  --ion-item-background: #1c1c1c;
  --ion-item-color: #fff;
  --primary-color: #bb86fc;

}
