:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --ion-toolbar-background: #f8f8f8;
  --ion-toolbar-color: #000;
  --ion-item-background: #f8f8f8;
  --ion-item-color: #000;
  --primary-color: #3880ff;

}
